.detail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    align-items: flex-start;
}

.detail-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.detail-title {
    font-family: 'Paperlogy-7Bold', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.detail-mini {
    font-family: 'Paperlogy-5Medium', sans-serif;
    color: gray;
    font-size: 15px;
}

.detail-info {
    flex: 1;
    font-family: 'Paperlogy-5Medium', sans-serif;
    font-size: 20px;
    line-height: 1.9;
}

.detail-highlight {
    font-family: 'Paperlogy-7Bold', sans-serif;
    margin-right: 10px;
}

.detail-state {
    color: red;
}

.detail-description {
    margin-top: 20px;
    width: 100%;
    font-family: 'Paperlogy-5Medium', sans-serif;
    font-size: 15px;
    line-height: 1.8;
} 

.error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: #000000;
    font-size: 30px;
    font-family: 'Paperlogy-7Bold', sans-serif;
}

.detail-same-lost {
    width: 100%;
    height: 1000px;
    margin: auto;
}

.found-container {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.found-item {
    display:flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
    width: 600px;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.found-item-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

.found-item-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.found-item-date {
    font-size: 14px;
    color: gray;
}

.found-item-eq {
    font-size: 14px;
    color: rgb(255, 0, 0);
}

.found-item-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}